<!DOCTYPE html>
<html lang = "en">
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "X-UA-Compatible" content = "IE=edge">
		<meta name= "viewport" content = "width=device-width, initial-scale=1">

		<title> Fitness Points </title>
		<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">


		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}" media="screen,projection">
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"> </script>
	    <script type="text/javascript" src="{{ url_for('static', filename='js/materialize.js') }}"> </script>
	    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"> </script>
	    <script type="text/javascript">
  			$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
		</script>
	    <script>
	    	$(document).ready(function() {
	    		$(".button-collapse").sideNav();
	    		$('.slider').slider({full_width: true});
	    		$('select').material_select();
	    	});
	    </script>
	</head>

	<body>
        <div class="navbar-fixed">
		    <nav>
		    	<div class="nav-wrapper">
		    		<a href="{{ url_for('index') }}" class="brand-logo"> Fitness Points </a>
		    		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i> </a>
		        	<ul class="right hide-on-med-and-down">
		        		{% if not g.user.is_authenticated() %}
		          		<li><a href="{{ url_for('signup') }}"> Sign Up </a></li>
		          		<li><a href="{{ url_for('login') }}"> Login </a></li>
		          		{% endif %}
		          		{% if g.user.is_authenticated() %}
		          		<li><a href="{{ url_for('index') }}"> Home </a></li>
		          		<li><a href="{{ url_for('create') }}"> New Group </a> </li>
		          		<li><a href="{{ url_for('viewgroups') }}"> View Groups </a> </li>
		          		<li><a href="{{ url_for('logout') }}"> Logout </a></li>
		          		{% endif %}
		        	</ul>
		        	<ul class="side-nav" id="mobile-demo">
        				{% if not g.user.is_authenticated() %}
		          		<li><a href="{{ url_for('signup') }}"> Sign Up </a></li>
		          		<li><a href="{{ url_for('login') }}"> Login </a></li>
		          		{% endif %}
		          		{% if g.user.is_authenticated() %}
		          		<li><a href="{{ url_for('index') }}"> Home </a></li>
		          		<li><a href="{{ url_for('create') }}"> New Group </a> </li>
		          		<li><a href="{{ url_for('viewgroups') }}"> View Groups </a> </li>
		          		<li><a href="{{ url_for('logout') }}"> Logout </a></li>
		          		{% endif %}
     				 </ul>
		        </div>
		    </nav>
		</div>		
	{% block content %} {% endblock %}
	</body>
</html>